<!-- Inherits from layout.html -->
{% extends "layout.html" %}

<!-- The block content replaces the one encapsulated in layout.html -->
{% block content %}

<div class="register-container">
            <h2 class="register-title text-center">Register</h2>
            <!-- Registration Form -->
            <form method="post" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }} <!-- For CSRF protection -->
                
                <div class="form-group mb-4">
                    {{ form.username.label(class="register-label") }}
                    {{ form.username(class="register-input", placeholder="Username") }}
                </div>
                <div class="form-group mb-4">
                    {{ form.email.label(class="register-label") }}
                    {{ form.email(class="register-input", placeholder="Email") }}
                </div>
                <div class="form-group mb-4">
                    {{ form.password.label(class="register-label") }}
                    {{ form.password(class="register-input", placeholder="Password") }}
                </div>
                
                <div class="form-group mb-4">
                    {{ form.confirm_password.label(class="register-label") }}
                    {{ form.confirm_password(class="register-input", placeholder="Confirm Password") }}
                </div>
                
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary py-2 px-4">{{ form.submit.label.text }}</button>
                    <a href="{{ url_for('index') }}" class="text-primary">Already have an account?</a>
                </div>
            </form>
</div>

{% endblock %}
